/**
 * ITU 2019 Project
 * Authors: Radek Veverka <xvever13>, Ladislav Bezděčík <xbezde13>
 * CSS
 */

body {
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://vevesoft.net/ituproject/noise2.png");
}

section {
    margin: 5px;
}

.header-left {
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 10px;
    border-right: 1px solid greenyellow;
}

.header-middle {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.header-right {
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.itu-app header {
    margin: 0;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#65a33b, #4f8629);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(0, 68, 0);
}

.btn-green {
    background-image: linear-gradient( rgb(56, 167, 48), rgb(32, 92, 30));
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    border: 1px solid rgb(8, 63, 8);
    font-weight: bold;
    cursor: pointer;
}

.btn-green:hover {
    background-image: linear-gradient(rgb(32, 92, 30), rgb(56, 167, 48));
    cursor: pointer;
}

.menu-item {
    margin-right: 5px;
}

.menu-item-active {
    background-image: linear-gradient(rgb(32, 92, 30), rgb(56, 167, 48));
}

.auth-user {
    margin-right: 10px;
}

.cancel-cross {
    width: 100px;
    height: 100px;
    position: relative;
   transform:rotate(45deg);
 -ms-transform:rotate(45deg); /* IE 9 */
 -webkit-transform:rotate(45deg); /* Safari and Chrome */
 }
 
 .cancel-cross:before, .cancel-cross:after {
   content: "";
   position: absolute;
   z-index: -1;
   background: #d00;
 }
 
 .cancel-cross:before {
   left: 50%;
   width: 30%;
   margin-left: -15%;
   height: 100%;
 }
 
 .cancel-cross:after {
   top: 50%;
   height: 30%;
   margin-top: -15%;
   width: 100%;
 }

 table.res-list-table {
    margin: 10px 10px;
    border: 2px solid green;
    box-shadow: 10px 10px 5px grey;
    font-size: 20px;
    border-collapse: collapse;
    table-layout: fixed;
 }

table.res-list-table thead {
    background-image: linear-gradient(white, rgb(226, 224, 224));
}

table.res-list-table td {
    padding: 5px 30px;
}

table.res-list-table thead th {
    padding: 10px 0;
    border-bottom: 2px solid green;
}

table.res-list-table tbody tr:nth-child(odd)
{
    background-color: rgb(164, 255, 187);
}

table.res-list-table tbody tr:nth-child(even)
{
    background-color: #ffffff;
}

.cancel-cross {
    width: 20px;
    height: 20px;
}

.cancel-cross:hover {
    cursor: pointer;
}

table.week_table {
    table-layout: fixed;
    border: 3px solid green;
    width: 100%;
    border-collapse: collapse;
}

table.week_table td {
    border: 1px solid green;
    background-color: white;
}

table.week_table tr th:first-child {
    border-right: 3px solid green;
    border-bottom: 1px solid black;
    background-color: rgb(245, 245, 245);
}

table.week_table tr:first-child th {
    padding: 10px 0px;
    border-bottom: 3px solid green;
    background-image: linear-gradient(white, rgb(233, 233, 233));
}

.dayroom-setup {
    display: flex;
    margin: 15px;
}

.dayroom-setup div {
    margin-right: 20px;
    font-size: 30px;

}

.dayroom-setup-cont {
    display: flex;
    height: 70px;
}

select {
    width: 100px;
}

.dialog {
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 5px 5px 3px grey;
    padding: 10px;
    background-color: white;
    z-index: 9999;
}

.dialog-footer {
    margin-top: 10px;
}

.res-dialog {
    position: absolute;
    width: 400px;
    top: 40px;
    left: 0px;
}

.res-dialog-body {
    display: flex;
    align-items: center;
    width: 100%;
}

.res-dialog-from, .res-dialog-to {
    display: flex;
}

.res-dialog-from div, .res-dialog-to div {
    flex-basis: 50px;
}

.res-dialog-desc {
    margin-left: 20px;
    margin-right: 20px;
}

input[type="time"] {
    width: 100px;
}

textarea {
    border-radius: 5px;
}

#autoTable {
    table-layout: fixed;
    border: 3px solid green;
    width: 100%;
    border-collapse: collapse;
}

#autoTable .val:hover {
    background-color:#65a33b;
    opacity: 50%;
}

#autoTable .picked {
    background-color:#65a33b;
}

#autoTable .taken {
    background-color: green;
}

#autoTable td {
    height: 43px;
    border: 1px solid green;
    background-color: white;
}

#autoTable .side {
    border-right: 3px solid green;
    border-bottom: 1px solid black;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

#autoTable .head {
    padding: 10px 0px;
    border-bottom: 3px solid green;
    background-image: linear-gradient(white, rgb(233, 233, 233));
}

.user {
    height: 40px;
    background-color: green !important;

}

.nonuser {
    height: 40px;
    background-color: red !important;
}

.roomButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.room-setup {
    display: flex;
    margin: auto;
}

.room-setup div {
    margin-right: 20px;
    font-size: 30px;
}

.room-setup-cont {
    display: flex;
    height: 70px;
}
.schema-pointer-container img {
    width: 40px;
    height: 40px;
}

.schema-pointer-container {
    position: absolute;
}

.schema-image-container > img {
}

.schema-container {
    position: absolute;
    top: 150px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    margin-left: 200px;
    display: none;

}

.show-schema {
    margin-top: 10px;
    margin-left: 5px;
}

.selected-cell {
    background-color: green !important;
}

.this-user-mark {
    background-color: blue !important;

}

.other-user-mark {
    background-color: red !important;
}

.selected-cell, .this-user-mark, .other-user-mark {
    height: 40px;
}

.cell-past {
    background-color: lightgray !important;
}


.week_table tr {
    height: 40px;
}
