.selected-cell {
    background-color: green !important;
}

.this-user-mark {
    background-color: blue !important;

}

.other-user-mark {
    background-color: red !important;

}

.cell-past {
    background-color: lightgray !important;
}

.schema-container {
    position: absolute;
    top: 400px;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    
}